	#main{
		margin: 200px 25% 200px 25%;
		text-align: center; 
		padding: 5%;
		background-color: #d7e0ef;
		opacity: .8;
		border-radius: 10px;
	}


	.wi{
		font-size:42px;
	}
	.wi-day-sunny{
		height: 50px !important;
		width:50px !important;
	}
	body{
		background-repeat: no-repeat; 
		background-size: cover;
	}

	button{
		border-radius: 10px;
		border: none;
		padding: 8px;
	}
	
	button:hover{
		color: grey; 
		background-color: floralwhite; 
	}
	a {
		color: aqua;
	}
	a:hover{
		text-decoration: none; 
		color: darkgrey;
	}
	footer{
		font-size: 10px;
		text-align: center;
		position: absolute; 
		width: 100%;
		top: 95%;
	}