.profile-pic{
    height: 80px;
    width: 100px;
    float: left;
}
.customer-container{
    width:100%;
    height: 80px;
}
.customer-name{
    width: 25px; 
    text-align: center;
    float: left;
}

.hidden{
    display: none;
}